$buttons: (
  primary: (
    #fff,
    $color-primary,
    $color-primary-light
  ),
  secondary: (
    #fff,
    $color-secondary,
    $color-secondary-light
  )
);

.btn {
  border: 0;
  border-radius: ($base-size / 2);
  display: inline-block;
  padding: ($base-size / 2) $base-size;
  text-align: center;
  transition: 0.3s;
  &:focus,
  &:hover {
    text-decoration: none;
  }
}

@each $name, $colors in $buttons {

  .btn--#{$name} {
    background-color: nth($colors, 2);
    color: nth($colors, 1);
    &:focus,
    &:hover {
      background-color: nth($colors, 3);
      color: nth($colors, 1);
    }
  }

}
